## Exercises on pandas basics

This notebooks contains some exercises to practice the concepts learned in the notebook [01 - pandas basics](01%20-%20pandas%20basics.ipynb).

#### Instructions & suggestions

- Run the first cell below these instructions to load the data
- Each question can be answered using concepts from the notebook [01 - pandas basics](01%20-%20pandas%20basics.ipynb), no extra pandas knowledge required
- For more complex questions, you can iteratively build your solution starting from the simpler pieces 
- There are enough questions to go overtime, feel free to take some of them home

In [ ]:
import pandas as pd

clients_file = '../data/fake_shop/fake_clients.csv'
transactions_file = '../data/fake_shop/fake_transactions.csv'

clients = pd.read_csv(clients_file, parse_dates=['date_of_birth'])
transactions = pd.read_csv(transactions_file, parse_dates=['date'])

### 1. How many different persons are listed in the clients `DataFrame`?

### 2. How many different cities are listed in the clients `DataFrame`?

### 3. Show only the columns `name` and `city` of the clients `DataFrame`

### 4. Who is the youngest person in the clients `DataFrame`?

### 5. Who are the three oldest persons in the clients `DataFrame`?

### 6. List all clients from `Clarkechester`

### 7. List all clients from `Clarkechester` in alphabetical order

### 8. List all clients born between `1990` and `1995` (included)

### 9. List all transactions for the client with `client_id=1`

### 10. How many different transactions are listed for the client with `client_id=1`?

### 11 .How many items (total quantity) have been purchased by the client with `client_id=1`?

### 12. Display all the products purchased in the transaction with `transaction_id=1`, in descreasing order of unit price

### 13. Display all the products purchased in the transaction with `transaction_id=1`, in increasing order of total cost

### 14. Who is the youngest client from `West Timothybury`?

### 15. How many different dates are listed in the transactions `DataFrame`?

### 16. List the number of clients for each city

### 17. Display all the clients from `West Timothybury`, ordered by age (young-to-old)

### 18. What's the average number of different items purchased per transaction?

### 19. Add a column `age` to the clients table, which contains the age of the person in number of years

Hints:
- `datetime.today()` returns a datetime object with the current date
- Use `pandas.notnull()` to check that the date of birth is not null
- If the date of birth is null, return a `None` value for the age
- Consider the person's birthday for this year too!

### 20. What's the average age of clients from `Clarkechester`?