## Solutions for the exercises on pandas basics

This notebooks contains the proposed solutions for the exercises listed in the notebook [01.1 - Exercises on pandas basics](01.1%20-%20Exercises%20on%20pandas%20basics.ipynb).

In [ ]:
import pandas as pd

clients_file = '../data/fake_shop/fake_clients.csv'
transactions_file = '../data/fake_shop/fake_transactions.csv'

clients = pd.read_csv(clients_file, parse_dates=['date_of_birth'])
transactions = pd.read_csv(transactions_file, parse_dates=['date'])

### 1. How many different persons are listed in the clients `DataFrame`?

In [ ]:
len(clients)

### 2. How many different cities are listed in the clients `DataFrame`?

In [ ]:
len(clients['city'].unique())

### 3. Show only the columns `name` and `city` of the clients `DataFrame`

In [ ]:
clients[['name', 'city']]

### 4. Who is the youngest person in the clients `DataFrame`?

In [ ]:
# This shows only one person
# If more people are "the youngest" (i.e. sharing the birthday), only one will be shown
clients.sort_values(by='date_of_birth', ascending=False).head(1)

In [ ]:
# This can show more than one person if several people are "the youngest" (i.e. sharing the birthday)
clients[clients['date_of_birth'] == clients['date_of_birth'].max()]

### 5. Who are the three oldest persons in the clients `DataFrame`?

In [ ]:
# Similar to the above, if more people are sharing the birthday
clients.sort_values(by='date_of_birth').head(3)

### 6. List all clients from `Clarkechester`

In [ ]:
clients[clients['city'] == 'Clarkechester']

### 7. List all clients from `Clarkechester` in alphabetical order

In [ ]:
clients[clients['city'] == 'Clarkechester'].sort_values(by='name')

### 8. List all clients born between `1990` and `1995` (included)

In [ ]:
from_1990 = clients['date_of_birth'].dt.year >= 1990
to_1995 = clients['date_of_birth'].dt.year <= 1995

clients[from_1990 & to_1995]

### 9. What's the average age of clients from `Clarkechester`?

In [ ]:
clients[clients['city'] == 'Clarkechester']['age'].mean()

### 10. List all transactions for the client with `client_id=1`

In [ ]:
transactions[transactions['client_id'] == 1]

### 11. How many different transactions are listed for the client with `client_id=1`?

In [ ]:
len(transactions[transactions['client_id'] == 1]['transaction_id'].unique())

### 12. How many items (total quantity) have been purchased by the client with `client_id=1`?

In [ ]:
transactions[transactions['client_id'] == 1]['quantity'].sum()

### 13. Display all the products purchased in the transaction with `transaction_id=1`, in descreasing order of unit price

In [ ]:
transactions[transactions['transaction_id'] == 1].sort_values(by='unit_price', ascending=False)

### 14. Display all the products purchased in the transaction with `transaction_id=1`, in increasing order of total cost

In [ ]:
transactions[transactions['transaction_id'] == 1].sort_values(by='total')

### 15. Who is the youngest client from `West Timothybury`?

In [ ]:
# This shows only one person
clients[clients['city'] == 'West Timothybury'].sort_values('date_of_birth', ascending=False).head(1)

In [ ]:
# If several people share the birthday, show all of them
clients_from_wt = clients[clients['city'] == 'West Timothybury']

clients_from_wt[clients_from_wt['date_of_birth'] == clients_from_wt['date_of_birth'].max()]

### 16. How many different dates are listed in the transactions `DataFrame`?

In [ ]:
len(transactions['date'].unique())

### 17. List the number of clients for each city

In [ ]:
clients['city'].value_counts()

### 18. Display all the clients from `West Timothybury`, ordered by age (young-to-old)

In [ ]:
clients[clients['city'] == 'West Timothybury'].sort_values(by='date_of_birth', ascending=False)

### 19. What's the average number of different items purchased per transaction?

In [ ]:
transactions['transaction_id'].value_counts().mean()

### 20. Add a column `age` to the clients table, which contains the age of the person in number of years

Hints:
- `datetime.today()` returns a datetime object with the current date
- Use `pandas.notnull()` to check that the date of birth is not null
- If the date of birth is null, return a `None` value for the age
- Consider the person's birthday for this year too!

In [ ]:
from datetime import datetime

def person_age(birthday):
    age = None
    if pd.notnull(birthday):
        today = datetime.today()
        age = today.year - birthday.year
        if today > datetime(today.year, birthday.month, birthday.day):
            age -= 1
    return age
    
clients['age'] = clients['date_of_birth'].apply(person_age)
clients.head()